.App{
  height: 100vh;
}

.display-card{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 100px;
  gap: 40px;
  border: 4px solid green;
  height: 650px;

}

.card{
  background-color: #3C2A21;
  border: 3px solid red;
  
}